.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .overlap-wrapper {
  background-color: #ffffff;
  height: 844px;
  overflow: hidden;
  width: 390px;
}

.home .overlap {
  height: 100%;
  position: relative;
  width: 100%;
}

.home .background {
  background-color: #101010;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home .title {
  height: 56px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
}

.home .overlap-group {
  height: 56px;
  position: relative;
  width: 100%;
}

.home .logo-wrapper {
  height: auto;
  left: 20px;
  position: absolute;
  top: 5px;
  bottom: 0;
  width: 200px;
}

.home .text-wrapper {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 262px;
}

.home .line {
  height: 2px;
  left: 0;
  position: absolute;
  top: 54px;
  width: 100%;
}

.home .home-pg {
  height: 660px;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 92px;
  width: 100%;
  margin: 0 auto;
}

.home .overlap-2 {
  height: 1476px;
  position: relative;
  width: 90%;
  left: 0;
  margin: 0 auto;
}

.home .rectangle-4 {
  background-color: #101010;
  height: 63px;
  left: 0;
  position: absolute;
  top: 1413px;
  width: 100%;
}

.home .rectangle-5 {
  background-color: #252525;
  border-radius: 25px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home .text-wrapper-2 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 175px;
}

.home .text-wrapper-3 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 390px;
  width: 245px;
}

.home .text-wrapper-4 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 985px;
  width: 245px;
}

.home .text-wrapper-5 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 629px;
  width: 245px;
}

.home .average-SD {
  height: 42px;
  left: 185px;
  position: absolute;
  top: 436px;
  width: 126px;
}

.home .overlap-group-2 {
  height: 42px;
  position: relative;
  width: 122px;
  top: 15px;

}

.home .text-wrapper-6 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 122px;
}

.home .text-wrapper-7 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 20px;
  width: 122px;
}

.home .closest {
  height: 40px;
  left: 185px;
  position: absolute;
  top: 507px;
  width: 126px;
}

.home .overlap-3 {
  height: 40px;
  position: relative;
  width: 122px;
  top: 15px;
}

.home .text-wrapper-8 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 18px;
  width: 122px;
}

.home .overlap-group-wrapper {
  height: 38px;
  left: 184px;
  position: absolute;
  top: 1123px;
  width: 126px;
}

.home .overlap-4 {
  height: 38px;
  position: relative;
  width: 122px;
  top: 10px;
}

.home .text-wrapper-9 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 16px;
  width: 122px;
}

.home .text-wrapper-10 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 122px;
}

.home .text-wrapper-11 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 561px;
  width: 41px;
}

.home .too-far {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 126px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 561px;
  width: 41px;
}

.home .text-wrapper-12 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 74px;
  width: 245px;
}

.home .text-wrapper-13 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 122px;
}

.home .divider {
  height: 1px;
  left: 14px;
  position: absolute;
  top: 374px;
  width: 322px;
}

.home .img {
  height: 1px;
  left: 0;
  position: absolute;
  top: 616px;
  width: 322px;
}

.home .divider-2 {
  height: 1px;
  left: 14px;
  position: absolute;
  top: 955px;
  width: 322px;
}

.home .divider-3 {
  height: 1px;
  left: 14px;
  position: absolute;
  top: 1215px;
  width: 322px;
}

.home .grid-lines {
  height: 102px;
  left: 31px;
  position: absolute;
  top: 450px;
  width: 150px;
}

.home .line-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 150px;
}

.home .line-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 82px;
  width: 150px;
}

.home .line-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 62px;
  width: 150px;
}

.home .line-5 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 150px;
}

.home .line-6 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 150px;
}

.home .line-7 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

.home .bar-chart {
  height: 113px;
  left: 54px;
  position: absolute;
  top: 439px;
  width: 105px;
}

.home .rectangle-6 {
  background-color: #ee5757;
  border-radius: 5px;
  height: 113px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.home .rectangle-7 {
  background-color: #78d069;
  border-radius: 5px;
  height: 61px;
  left: 40px;
  position: absolute;
  top: 52px;
  width: 25px;
}

.home .rectangle-8 {
  background-color: #cca84d;
  border-radius: 5px;
  height: 93px;
  left: 80px;
  position: absolute;
  top: 20px;
  width: 25px;
}

.home .bar-icon-instance {
  left: 306px !important;
  position: absolute !important;
  top: 83px !important;
}

.home .bar-icon-2 {
  height: 16px;
  left: 306px;
  position: absolute;
  top: 395px;
  width: 17px;
}

.home .rectangle-9 {
  background-color: #ffffff;
  height: 13px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 3px;
}

.home .rectangle-10 {
  background-color: #ffffff;
  height: 2px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 17px;
}

.home .rectangle-11 {
  background-color: #ffffff;
  height: 9px;
  left: 7px;
  position: absolute;
  top: 4px;
  width: 3px;
}

.home .rectangle-12 {
  background-color: #ffffff;
  height: 5px;
  left: 2px;
  position: absolute;
  top: 8px;
  width: 3px;
}

.home .bar-icon-3 {
  height: 16px;
  left: 306px;
  position: absolute;
  top: 990px;
  width: 17px;
}

.home .desk-time-summary {
  height: 206px;
  left: 0;
  position: relative;
  top: 120px;
  width: 291px;
  margin: 0 auto;
}

.home .average-DT {
  height: 26px;
  left: 0;
  position: relative;
  top: 5px;
  width: 100%;
  margin: 0 auto;
}

.home .text-wrapper-14 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  font-weight: 550;
  left: 10%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 50%;
}

.home .overlap-group-3 {
  height: 26px;
  left: 60%;
  position: absolute;
  top: 0;
  width: 50%;
}

.home .text-wrapper-15 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 35px;
}

.home .text-wrapper-16 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 56px;
}

.home .average-DT-2 {
  height: 26px;
  left: 0;
  position: relative;
  top: 5px;
  width: 100%;
  margin: 0 auto;
}

.home .text-wrapper-14-2 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  font-weight: 550;
  left: 10%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 50%;
}

.home .overlap-group-3-2 {
  height: 26px;
  left: 60%;
  position: absolute;
  top: 0;
  width: 50%;
}

.home .text-wrapper-15-2 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 35px;
}

.home .text-wrapper-16-2 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 56px;
}

.home .stats {
  height: 17px;
  left: 0;
  position: relative;
  top: 135px;
  width: 35%;
  margin: 0 auto;
}

.home .overlap-5 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.home .text-wrapper-17 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 23px;
}

.home .text-wrapper-18 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 23px;
}

.home .overlap-6 {
  height: 17px;
  left: 79px;
  position: absolute;
  top: 0;
  width: 46px;
}

.home .text-wrapper-19 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 21px;
}

.home .text-wrapper-20 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 26px;
}

.home .legend {
  height: 13px;
  left: 0;
  position: relative;
  top: 100px;
  width: 45%;
  margin: 0 auto;
}

.home .ellipse {
  background-color: #e72830;
  border-radius: 5.84px/5.23px;
  height: 10px;
  left: 95px;
  position: absolute;
  top: 1px;
  width: 12px;
}

.home .ellipse-2 {
  background-color: #1679db;
  border-radius: 5.84px/5.23px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 12px;
}

.home .text-wrapper-21 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 51px;
}

.home .text-wrapper-22 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 39px;
}

.home .divider-4 {
  height: 1px;
  left: 18px;
  position: absolute;
  top: 129px;
  width: 253px;
}

.home .line-8 {
  height: 1px;
  left: 131px;
  position: absolute;
  top: 0;
  width: 122px;
}

.home .line-9 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 122px;
}

.home .date-line {
  height: 17px;
  left: 10px;
  position: absolute;
  top: 94px;
  width: 279px;
}

.home .text-wrapper-23 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 19px;
}

.home .text-wrapper-24 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 19px;
}

.home .group {
  height: 3px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 260px;
}

.home .ellipse-3 {
  background-color: #d9d9d9;
  border-radius: 1.9px/1.7px;
  height: 3px;
  left: 256px;
  position: absolute;
  top: 0;
  width: 4px;
}

.home .ellipse-4 {
  background-color: #d9d9d9;
  border-radius: 1.27px/1.13px;
  height: 2px;
  left: 214px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.home .ellipse-5 {
  background-color: #d9d9d9;
  border-radius: 1.27px/1.13px;
  height: 2px;
  left: 128px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.home .ellipse-6 {
  background-color: #d9d9d9;
  border-radius: 1.27px/1.13px;
  height: 2px;
  left: 43px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.home .ellipse-7 {
  background-color: #d9d9d9;
  border-radius: 1.27px/1.13px;
  height: 2px;
  left: 172px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.home .ellipse-8 {
  background-color: #d9d9d9;
  border-radius: 1.27px/1.13px;
  height: 2px;
  left: 86px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.home .ellipse-9 {
  background-color: #d9d9d9;
  border-radius: 1.9px/1.7px;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.home .line-chart {
  height: 85px;
  left: 0;
  position: absolute;
  top: 0;
  width: 291px;
}

.home .line-10 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 289px;
}

.home .overlap-7 {
  height: 49px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 289px;
}

.home .line-11 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 289px;
}

.home .line-12 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 289px;
}

.home .group-2 {
  height: 39px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 243px;
}

.home .group-3 {
  height: 19px;
  left: 24px;
  position: absolute;
  top: 30px;
  width: 243px;
}

.home .line-13 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 85px;
  width: 289px;
}

.home .navbar-wrapper {
  height: 31px;
    left: 0;
    position: relative;
    bottom: 10px;
    width: 100%;
    margin: 0 auto;
}

.home .navbar {
  background-color: #3b3b3b;
  border-radius: 6px;
  height: 31px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.home .text-wrapper-25 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 12.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25%;
  width: 16px;
}

.home .text-wrapper-26 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 35.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25%;
  width: 16px;
}

.home .text-wrapper-27 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 60.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25%;
  width: 16px;
}

.home .text-wrapper-28 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 82.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25%;
  width: 16px;
}

.home .text-wrapper-25.active {
  color: white; /* Active state */
}
.home .text-wrapper-26.active {
  color: white; /* Active state */
}
.home .text-wrapper-27.active {
  color: white; /* Active state */
}
.home .text-wrapper-28.active {
  color: white; /* Active state */
}

.home .group-4 {
  height: 176px;
  left: 57px;
  position: absolute;
  top: 1025px;
  width: 141px;
}

.home .overlap-8 {
  height: 139px;
  left: 0;
  position: absolute;
  top: 0;
  width: 139px;
}

.home .div-wrapper {
  background-image: url(https://c.animaapp.com/VczO8maf/img/ellipse-11-1@2x.png);
  background-size: 100% 100%;
  height: 139px;
  left: 0;
  position: absolute;
  top: 0;
  width: 139px;
}

.home .ellipse-wrapper {
  background-image: url(https://c.animaapp.com/VczO8maf/img/ellipse-10-1@2x.png);
  background-size: 100% 100%;
  height: 139px;
}

.home .ellipse-10 {
  background-color: #252525;
  border-radius: 66.23px;
  height: 132px;
  left: 4px;
  position: relative;
  top: 4px;
  transform: rotate(90deg);
  width: 132px;
}

.home .group-wrapper {
  height: 40px;
  left: 32px;
  position: absolute;
  top: 45px;
  width: 73px;
}

.home .group-5 {
  height: 40px;
  position: relative;
  width: 77px;
}

.home .text-wrapper-29 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 40px;
}

.home .text-wrapper-30 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 18px;
  width: 32px;
}

.home .almost-there-keep-it {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 144px;
  width: 86px;
}

.home .group-6 {
  height: fit-content;
  left: 0;
  position: absolute;
  top: 674px;
  width: 100%;
}

.home .overlap-9 {
  height: 100%;
  left: 0;
  /* position: relative; */
  position: absolute;
  top: 0;
  width: 100%;
}

.home .group-7 {
  /* background-image: url(https://c.animaapp.com/VczO8maf/img/ellipse-11.svg); */
  background-size: 100% 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home .overlap-group-4 {
  background-image: url(https://c.animaapp.com/VczO8maf/img/ellipse-10.svg);
  /* background-size: 100% 100%; */
  /* height: 139px; */
  /* position: fixed;
  left: 0;
  top: 0;
  width: 139px; */
  background-size: 100% 100%;
  height: 139px;
}

.home .average-SD-2 {
  height: 58px;
  left: 50px;
  position: absolute;
  top: 41px;
  width: 40px;
}

.home .group-8 {
  height: 58px;
  position: relative;
  width: 44px;
}

.home .text-wrapper-31 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 33px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 40px;
}

.home .text-wrapper-32 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 38px;
}

.home .group-9 {
  height: 45px;
  left: 0;
  position: relative;
  top: 680px;
  width: 65%;
  margin: 0 auto;
}

.home .upright-streak {
  height: 36px;
  left: 133px;
  position: absolute;
  top: 9px;
  width: 84px;
}

.home .group-10 {
  height: 36px;
  position: relative;
  width: 88px;
}

.home .text-wrapper-33 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 40px;
}

.home .text-wrapper-34 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 12px;
  width: 36px;
}

.home .text-wrapper-35 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 86px;
}

.home .group-11 {
  height: 45px;
  left: 0;
  position: relative;
  top: 590px;
  width: 65%;
  margin: 0 auto;
}

.home .text-wrapper-36 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 43px;
}

.home .text-wrapper-37 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 99px;
}

.home .text-wrapper-38 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 21px;
  font-weight: 600;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1227px;
  white-space: nowrap;
  width: 70px;
}

.home .hydration {
  height: 61px;
  left: 28px;
  position: absolute;
  top: 1350px;
  width: 257px;
}

.home .text-wrapper-39 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 97px;
}

.home .group-12 {
  height: 27px;
  left: 8px;
  position: absolute;
  top: 34px;
  width: 247px;
}

.home .pomodoro {
  height: 79px;
  left: 28px;
  position: absolute;
  top: 1261px;
  width: 234px;
}

.home .text-wrapper-40 {
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 89px;
}

.home .group-13 {
  height: 56px;
  left: 52px;
  position: absolute;
  top: 23px;
  width: 180px;
}

.home .rectangle-13 {
  background-color: #ee5757;
  height: 24px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 13px;
}

.home .rectangle-14 {
  background-color: #78d069;
  height: 56px;
  left: 84px;
  position: absolute;
  top: 0;
  width: 13px;
}

.home .rectangle-15 {
  background-color: #c1a04a;
  height: 37px;
  left: 28px;
  position: absolute;
  top: 19px;
  width: 13px;
}

.home .rectangle-16 {
  background-color: #78d069;
  height: 50px;
  left: 112px;
  position: absolute;
  top: 6px;
  width: 13px;
}

.home .rectangle-17 {
  background-color: #c1a04a;
  height: 43px;
  left: 56px;
  position: absolute;
  top: 13px;
  width: 13px;
}

.home .rectangle-18 {
  background-color: #ee5757;
  height: 24px;
  left: 140px;
  position: absolute;
  top: 32px;
  width: 13px;
}

.home .rectangle-19 {
  background-color: #ee5757;
  height: 24px;
  left: 168px;
  position: absolute;
  top: 32px;
  width: 13px;
}

.home .design-component-instance-node {
  left: 297px !important;
  position: absolute !important;
  top: 1264px !important;
}

.home .bar-icon-4 {
  left: 297px !important;
  position: absolute !important;
  top: 1354px !important;
}

.home .frame {
  height: fit-content;
  left: 306px;
  position: absolute;
  top: 635px;
  width: 20px;
}

.home .bar-icon-5 {
  height: 16px;
  left: 3px;
  position: relative;
  width: 17px;
}

.home .bot-bar-home {
  height: 71px;
  left: 0;
  position: absolute;
  top: 773px;
  width: 390px;
}

.home .overlap-10 {
  background-image: url(https://c.animaapp.com/VczO8maf/img/rectangle-16-1.svg);
  background-size: 100% 100%;
  height: 71px;
  left: 1px;
  position: relative;
  width: 389px;
}

.home .group-14 {
  height: 36px;
  left: 329px;
  position: absolute;
  top: 22px;
  width: 47px;
}

.home .text-wrapper-41 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 45px;
}

.home .group-15 {
  height: 8px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 32px;
}

.home .group-16 {
  background-color: #9c9c9c;
  border-radius: 4px;
  height: 8px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 8px;
}

.home .ellipse-11 {
  background-color: #000000;
  border-radius: 3.11px;
  height: 6px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 6px;
}

.home .group-17 {
  background-color: #9c9c9c;
  border-radius: 4px;
  height: 8px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 8px;
}

.home .group-18 {
  background-color: #9c9c9c;
  border-radius: 4px;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.home .text-wrapper-42 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 240px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 81px;
}

.home .asset {
  height: 22px;
  left: 268px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 22px;
}

.home .group-19 {
  height: 45px;
  left: 172px;
  position: absolute;
  top: 13px;
  width: 62px;
}

.home .overlap-11 {
  height: 45px;
  position: relative;
  width: 60px;
}

.home .text-wrapper-43 {
  color: #A9FF9B;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 60px;
}

.home .group-20 {
  height: 24px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 31px;
}

.home .overlap-group-5 {
  height: 24px;
  position: relative;
}

.home .rectangle-20 {
  background-color: #A9FF9B;
  height: 9px;
  left: 6px;
  position: absolute;
  top: 8px;
  transform: rotate(-41.74deg);
  width: 26px;
}

.home .rectangle-21 {
  background-color: #A9FF9B;
  border-radius: 1px 0px 1px 1px;
  height: 8px;
  left: 1px;
  position: absolute;
  top: 11px;
  transform: rotate(45.21deg);
  width: 16px;
}

.home .group-21 {
  height: 44px;
  left: 13px;
  position: absolute;
  top: 14px;
  width: 72px;
}

.home .text-wrapper-44 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 70px;
}

.home .group-22 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 27px;
}

.home .rectangle-22 {
  border: 0.5px solid;
  border-color: #898989;
  border-radius: 1px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 27px;
}

.home .group-23 {
  height: 14px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.home .group-24 {
  height: 21px;
  left: 91px;
  position: absolute;
  top: 37px;
  width: 75px;
}

.home .text-wrapper-45 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 73px;
}

.home .asset-x {
  height: 21px;
  left: 117px;
  position: absolute;
  top: 14px;
  width: 22px;
}

.home .profile-icon-wrapper {
  height: auto;
  left: 270px;
  position: absolute;
  object-fit: cover;
  top: 13px;
  bottom: 0;
  width: 22px;
}

.home .goals-icon-wrapper {
  height: auto;
  left: 117px;
  position: absolute;
  object-fit: cover;
  top: 13px;
  bottom: 0;
  width: 22px;
}

.home .table-icon-wrapper {
  height: auto;
  left: 21px;
  position: absolute;
  object-fit: cover;
  top: 0;
  bottom: 0;
  width: 27px;
}

.home .more-icon-wrapper {
  height: auto;
  left: 7px;
  position: absolute;
  object-fit: cover;
  top: 0;
  bottom: 0;
  width: 32px;
}

.home .more-text-wrapper-2 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 45px;
}

.home .more-group {
  height: 36px;
  left: 329px;
  position: absolute;
  top: 22px;
  width: 47px;
}

.home .bot-bar-div {
  background-image: url(https://c.animaapp.com/VczO8maf/img/rectangle-16-1.svg);
  background-size: 100% 100%;
  height: 71px;
  left: 1px;
  position: relative;
  width: 389px;
}

.home .timer-text-wrapper-3 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 240px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 81px;
}

.home .bot-bar-overlap-group-wrapper {
  height: 45px;
  left: 172px;
  position: absolute;
  top: 13px;
  width: 62px;
}

.home .bot-bar-overlap-2 {
  height: 45px;
  position: relative;
  width: 60px;
}

.home .day-text-wrapper-4 {
  color: #A9FF9B;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 60px;
}

.home .day-group-4 {
  height: 24px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 31px;
}

.home .tick-overlap-group-2 {
  height: 24px;
  position: relative;
}

.home .tick-rectangle {
  background-color: #A9FF9B;
  height: 9px;
  left: 6px;
  position: absolute;
  top: 8px;
  transform: rotate(-41.74deg);
  width: 26px;
}

.home .tick-rectangle-2 {
  background-color: #A9FF9B;
  border-radius: 1px 0px 1px 1px;
  height: 8px;
  left: 1px;
  position: absolute;
  top: 11px;
  transform: rotate(45.21deg);
  width: 16px;
}

.home .table-group-5 {
  height: 44px;
  left: 13px;
  position: absolute;
  top: 14px;
  width: 72px;
}

.home .table-text-wrapper-5 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 70px;
}

.home .goal-group-7 {
  height: 21px;
  left: 91px;
  position: absolute;
  top: 37px;
  width: 75px;
}

.home .goal-text-wrapper-6 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 73px;
}

.home .chart-container {
  position: absolute;
  top: 430px;
  left: 20px;
  width: 70%; 
  height: 11%; 
}