.chartjs-legend ul {
  list-style: none;
  display: flex; 
  padding: 0; 
  margin: 0; 
  justify-content: center; 
}

.chartjs-legend li {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 400;
}

.chartjs-legend li:last-child {
  margin-right: 0; 
}

.chartjs-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  margin-right: 5px;
  color: #d3d3d3;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 400;
}

.overlap-group-4 .text-wrapper-27 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 12.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25%;
  width: 16px;
}

.overlap-group-4 .text-wrapper-29 {
  color:#898989;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 35.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25%;
  width: 16px;
}

.overlap-group-4 .text-wrapper-28 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 60.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25%;
  width: 16px;
}

.text-wrapper-23 {
  color: #898989;
  font-family: "Open Sans", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 82.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25%;
  width: 16px;
}

.overlap-group-4 .text-wrapper-27.active  {
  color: white; 
}

.overlap-group-4 .text-wrapper-29.active  {
  color: white; 
}

.overlap-group-4 .text-wrapper-28.active  {
  color: white; 
}

.text-wrapper-23.active {
  color: white; 
}

.screen-distance-lineChart .day-selection {
  background-color: #3B3B3B; 
  border-radius: 10px; 
  padding: 5px; 
  display: flex; 
  justify-content: center;
  height: 26px;
  width: 90%;
  margin: 0 auto; 
  margin-bottom: 10px;
}

.screen-distance-lineChart .day-selection button {
  padding: 10px; 
  width: 25px; 
  height: 25px; 
  border-radius: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px; 
  margin-right: 8px;
  border: 2px solid #3B3B3B;
  background-color: #3B3B3B;
  color: #898989;
  font-family: "Open Sans", Helvetica; 
  font-size: 14px;
  font-weight: bold;
}

.screen-distance-lineChart .day-selection button:hover {
  background-color: #7B7B7B; 
}

.screen-distance-lineChart .day-selection button.active {
  background-color: #7B7B7B; 
  color: #FFFFFF; 
  border: 2px solid #7B7B7B;
  border-radius: 50%; 
  font-weight: bold;
  font-family: "Open Sans", Helvetica;
}
