.ipynb_checkpoints/
IMG_7376-1.mov
IMG_7376-1.mp4
IMG_7376.MOV
IMG_7423-1.mp4
IMG_7423.mp4
README.md
SHOW
human_posture.ipynb
human_posture_analysis.ipynb
human_posture_analysis_video.py
input.mp4
myenv/
output.mp4
proto_builder.py
test.py
intellidesk-174c9-firebase-adminsdk-garkf-abe9a9fb75.json
reactApp/my-app/package-lock.json