.desk-time {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desk-time .overlap-wrapper {
    background-color: #ffffff;
    height: 844px;
    overflow: hidden;
    width: 390px;
  }
  
  .desk-time .overlap {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .desk-time .background {
    background-color: #101010;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .desk-time .title {
    height: 56px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
  }
  
  .desk-time .overlap-group {
    height: 56px;
    position: relative;
    width: 390px;
  }
  
  .desk-time .text-wrapper {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 262px;
  }
  
  .desk-time .line {
    height: 2px;
    left: 0;
    position: absolute;
    top: 54px;
    width: 390px;
  }
  
  .desk-time .bot-bar-home {
    height: 71px;
    left: 0;
    position: absolute;
    top: 773px;
    width: 100%;
  }
  
  .desk-time .div {
    background-image: url(https://c.animaapp.com/VczO8maf/img/rectangle-16-1.svg);
    background-size: 100% 100%;
    height: 71px;
    left: 1px;
    position: relative;
    width: 389px;
  }
  
  .desk-time .group {
    height: 36px;
    left: 329px;
    position: absolute;
    top: 22px;
    width: 47px;
  }
  
  .desk-time .text-wrapper-2 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 45px;
  }
  
  .desk-time .group-2 {
    height: 8px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 32px;
  }
  
  .desk-time .ellipse-wrapper {
    background-color: #9c9c9c;
    border-radius: 4px;
    height: 8px;
    left: 24px;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .desk-time .ellipse {
    background-color: #000000;
    border-radius: 3.11px;
    height: 6px;
    left: 1px;
    position: relative;
    top: 1px;
    width: 6px;
  }
  
  .desk-time .div-wrapper {
    background-color: #9c9c9c;
    border-radius: 4px;
    height: 8px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .desk-time .group-3 {
    background-color: #9c9c9c;
    border-radius: 4px;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .desk-time .text-wrapper-3 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 240px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 36px;
    width: 81px;
  }
  
  .desk-time .asset {
    height: 22px;
    left: 268px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 22px;
  }
  
  .desk-time .overlap-group-wrapper {
    height: 45px;
    left: 172px;
    position: absolute;
    top: 13px;
    width: 62px;
  }
  
  .desk-time .overlap-2 {
    height: 45px;
    position: relative;
    width: 60px;
  }
  
  .desk-time .text-wrapper-4 {
    color: #A9FF9B;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 60px;
  }
  
  .desk-time .group-4 {
    height: 24px;
    left: 14px;
    position: absolute;
    top: 0;
    width: 31px;
  }
  
  .desk-time .overlap-group-2 {
    height: 24px;
    position: relative;
  }
  
  .desk-time .rectangle {
    background-color: #A9FF9B;
    height: 9px;
    left: 6px;
    position: absolute;
    top: 8px;
    transform: rotate(-41.74deg);
    width: 26px;
  }
  
  .desk-time .rectangle-2 {
    background-color: #A9FF9B;
    border-radius: 1px 0px 1px 1px;
    height: 8px;
    left: 1px;
    position: absolute;
    top: 11px;
    transform: rotate(45.21deg);
    width: 16px;
  }
  
  .desk-time .group-5 {
    height: 44px;
    left: 13px;
    position: absolute;
    top: 14px;
    width: 72px;
  }
  
  .desk-time .text-wrapper-5 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 70px;
  }
  
  .desk-time .group-6 {
    height: 20px;
    left: 21px;
    position: absolute;
    top: 0;
    width: 27px;
  }
  
  .desk-time .rectangle-3 {
    border: 0.5px solid;
    border-color: #898989;
    border-radius: 1px;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
  }
  
  .desk-time .img {
    height: 14px;
    left: 5px;
    position: absolute;
    top: 6px;
    width: 18px;
  }
  
  .desk-time .group-7 {
    height: 21px;
    left: 91px;
    position: absolute;
    top: 37px;
    width: 75px;
  }
  
  .desk-time .text-wrapper-6 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 73px;
  }
  
  .desk-time .asset-x {
    height: 21px;
    left: 117px;
    position: absolute;
    top: 14px;
    width: 22px;
  }
  
  .desk-time .frame {
    height: 660px;
    left: 0;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 87px;
    width: 100%;
    margin: 0 auto;
  }
  
  .desk-time .overlap-3 {
    height: 100%;
    position: relative;
    width: 90%;
    left: 0;
    margin: 0 auto;
  }
  
  .desk-time .group-8 {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 350px;
    margin: 0 auto;
  }
  
  .desk-time .overlap-group-3 {
    height: 97%;
    position: relative;
  }
  
  .desk-time .rectangle-4 {
    background-color: #101010;
    height: 70px;
    left: 0;
    position: absolute;
    top: 810px;
    width: 350px;
  }
  
  .desk-time .group-9 {
    background-color: #252525;
    border-radius: 25px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 350px;
  }
  
  .desk-time .navbar {
    height: 9px;
    left: 48px;
    position: absolute;
    top: 294px;
    width: 291px;
  }
  
  .desk-time .text-wrapper-7 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 19px;
  }
  
  .desk-time .text-wrapper-8 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 44px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 19px;
  }
  
  .desk-time .text-wrapper-9 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 86px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 19px;
  }
  
  .desk-time .text-wrapper-10 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 129px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 19px;
  }
  
  .desk-time .text-wrapper-11 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 173px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 19px;
  }
  
  .desk-time .text-wrapper-12 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 215px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 19px;
  }
  
  .desk-time .text-wrapper-13 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 257px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 19px;
  }
  
  .desk-time .grid-lines {
    height: 123px;
    left: 51px;
    position: absolute;
    top: 144px;
    width: 270px;
  }
  
  .desk-time .line-2 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 81px;
    width: 270px;
  }
  
  .desk-time .line-3 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 61px;
    width: 270px;
  }
  
  .desk-time .line-4 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 123px;
    width: 270px;
  }
  
  .desk-time .line-5 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 103px;
    width: 270px;
  }
  
  .desk-time .line-6 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 41px;
    width: 270px;
  }
  
  .desk-time .line-7 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 270px;
  }
  
  .desk-time .line-8 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 270px;
  }
  
  .desk-time .rectangle-wrapper {
    height: 75px;
    left: 136px;
    position: absolute;
    top: 192px;
    width: 6px;
  }
  
  .desk-time .rectangle-5 {
    background-color: #78d069;
    border-radius: 5px;
    height: 6px;
    left: -35px;
    position: relative;
    top: 35px;
    transform: rotate(-90deg);
    width: 75px;
  }
  
  .desk-time .group-10 {
    height: 107px;
    left: 141px;
    position: absolute;
    top: 160px;
    width: 6px;
  }
  
  .desk-time .rectangle-6 {
    background-color: #f4b54c;
    border-radius: 5px;
    height: 6px;
    left: -51px;
    position: relative;
    top: 51px;
    transform: rotate(-90deg);
    width: 107px;
  }
  
  .desk-time .group-11 {
    height: 31px;
    left: 147px;
    position: absolute;
    top: 236px;
    width: 6px;
  }
  
  .desk-time .rectangle-7 {
    background-color: #ee5757;
    border-radius: 5px;
    height: 6px;
    left: -13px;
    position: relative;
    top: 13px;
    transform: rotate(-90deg);
    width: 31px;
  }
  
  .desk-time .group-12 {
    height: 68px;
    left: 264px;
    position: absolute;
    top: 199px;
    width: 6px;
  }
  
  .desk-time .rectangle-8 {
    background-color: #78d069;
    border-radius: 5px;
    height: 6px;
    left: -31px;
    position: relative;
    top: 31px;
    transform: rotate(-90deg);
    width: 68px;
  }
  
  .desk-time .group-13 {
    height: 90px;
    left: 270px;
    position: absolute;
    top: 177px;
    width: 6px;
  }
  
  .desk-time .rectangle-9 {
    background-color: #f4b54c;
    border-radius: 5px;
    height: 6px;
    left: -42px;
    position: relative;
    top: 42px;
    transform: rotate(-90deg);
    width: 90px;
  }
  
  .desk-time .group-14 {
    height: 28px;
    left: 275px;
    position: absolute;
    top: 239px;
    width: 6px;
  }
  
  .desk-time .rectangle-10 {
    background-color: #ee5757;
    border-radius: 5px;
    height: 6px;
    left: -11px;
    position: relative;
    top: 11px;
    transform: rotate(-90deg);
    width: 28px;
  }
  
  .desk-time .group-15 {
    height: 46px;
    left: 307px;
    position: absolute;
    top: 221px;
    width: 6px;
  }
  
  .desk-time .rectangle-11 {
    background-color: #78d069;
    border-radius: 5px;
    height: 6px;
    left: -20px;
    position: relative;
    top: 20px;
    transform: rotate(-90deg);
    width: 46px;
  }
  
  .desk-time .group-16 {
    height: 76px;
    left: 312px;
    position: absolute;
    top: 192px;
    width: 6px;
  }
  
  .desk-time .rectangle-12 {
    background-color: #f4b54c;
    border-radius: 5px;
    height: 6px;
    left: -35px;
    position: relative;
    top: 35px;
    transform: rotate(-90deg);
    width: 76px;
  }
  
  .desk-time .group-17 {
    height: 24px;
    left: 318px;
    position: absolute;
    top: 243px;
    width: 6px;
  }
  
  .desk-time .rectangle-13 {
    background-color: #ee5757;
    border-radius: 5px;
    height: 6px;
    left: -9px;
    position: relative;
    top: 9px;
    transform: rotate(-90deg);
    width: 24px;
  }
  
  .desk-time .group-18 {
    height: 68px;
    left: 93px;
    position: absolute;
    top: 199px;
    width: 6px;
  }
  
  .desk-time .group-19 {
    height: 99px;
    left: 99px;
    position: absolute;
    top: 168px;
    width: 6px;
  }
  
  .desk-time .rectangle-14 {
    background-color: #f4b54c;
    border-radius: 5px;
    height: 6px;
    left: -47px;
    position: relative;
    top: 47px;
    transform: rotate(-90deg);
    width: 99px;
  }
  
  .desk-time .group-20 {
    height: 31px;
    left: 104px;
    position: absolute;
    top: 236px;
    width: 6px;
  }
  
  .desk-time .group-21 {
    height: 45px;
    left: 222px;
    position: absolute;
    top: 222px;
    width: 6px;
  }
  
  .desk-time .rectangle-15 {
    background-color: #78d069;
    border-radius: 5px;
    height: 6px;
    left: -20px;
    position: relative;
    top: 20px;
    transform: rotate(-90deg);
    width: 45px;
  }
  
  .desk-time .group-22 {
    height: 74px;
    left: 227px;
    position: absolute;
    top: 193px;
    width: 6px;
  }
  
  .desk-time .rectangle-16 {
    background-color: #f4b54c;
    border-radius: 5px;
    height: 6px;
    left: -34px;
    position: relative;
    top: 34px;
    transform: rotate(-90deg);
    width: 74px;
  }
  
  .desk-time .group-23 {
    height: 23px;
    left: 233px;
    position: absolute;
    top: 244px;
    width: 6px;
  }
  
  .desk-time .rectangle-17 {
    background-color: #ee5757;
    border-radius: 5px;
    height: 6px;
    left: -9px;
    position: relative;
    top: 9px;
    transform: rotate(-90deg);
    width: 23px;
  }
  
  .desk-time .group-24 {
    height: 56px;
    left: 51px;
    position: absolute;
    top: 211px;
    width: 6px;
  }
  
  .desk-time .rectangle-18 {
    background-color: #78d069;
    border-radius: 5px;
    height: 6px;
    left: -25px;
    position: relative;
    top: 25px;
    transform: rotate(-90deg);
    width: 56px;
  }
  
  .desk-time .group-25 {
    height: 74px;
    left: 56px;
    position: absolute;
    top: 193px;
    width: 6px;
  }
  
  .desk-time .group-26 {
    height: 23px;
    left: 62px;
    position: absolute;
    top: 244px;
    width: 6px;
  }
  
  .desk-time .group-27 {
    height: 68px;
    left: 179px;
    position: absolute;
    top: 199px;
    width: 6px;
  }
  
  .desk-time .group-28 {
    height: 99px;
    left: 185px;
    position: absolute;
    top: 168px;
    width: 6px;
  }
  
  .desk-time .group-29 {
    height: 31px;
    left: 190px;
    position: absolute;
    top: 236px;
    width: 6px;
  }
  
  .desk-time .text-wrapper-14 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 59px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
    width: 235px;
  }
  
  .desk-time .text-wrapper-15 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 21px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 560px;
    width: 235px;
  }
  
  .desk-time .date-line {
    height: 155px;
    left: 25px;
    position: absolute;
    top: 138px;
    width: 292px;
  }
  
  .desk-time .group-30 {
    height: 131px;
    left: 0;
    position: absolute;
    top: 0;
    width: 33px;
  }
  
  .desk-time .text-wrapper-16 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 121px;
    width: 25px;
  }
  
  .desk-time .text-wrapper-17 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 81px;
    width: 25px;
  }
  
  .desk-time .text-wrapper-18 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 25px;
  }
  
  .desk-time .text-wrapper-19 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
  }
  
  .desk-time .group-31 {
    height: 3px;
    left: 32px;
    position: absolute;
    top: 152px;
    width: 260px;
  }
  
  .desk-time .ellipse-2 {
    background-color: #d9d9d9;
    border-radius: 1.9px/1.7px;
    height: 3px;
    left: 256px;
    position: absolute;
    top: 0;
    width: 4px;
  }
  
  .desk-time .ellipse-3 {
    background-color: #d9d9d9;
    border-radius: 1.27px/1.13px;
    height: 2px;
    left: 214px;
    position: absolute;
    top: 1px;
    width: 3px;
  }
  
  .desk-time .ellipse-4 {
    background-color: #d9d9d9;
    border-radius: 1.27px/1.13px;
    height: 2px;
    left: 128px;
    position: absolute;
    top: 1px;
    width: 3px;
  }
  
  .desk-time .ellipse-5 {
    background-color: #d9d9d9;
    border-radius: 1.27px/1.13px;
    height: 2px;
    left: 43px;
    position: absolute;
    top: 1px;
    width: 3px;
  }
  
  .desk-time .ellipse-6 {
    background-color: #d9d9d9;
    border-radius: 1.27px/1.13px;
    height: 2px;
    left: 172px;
    position: absolute;
    top: 1px;
    width: 3px;
  }
  
  .desk-time .ellipse-7 {
    background-color: #d9d9d9;
    border-radius: 1.27px/1.13px;
    height: 2px;
    left: 86px;
    position: absolute;
    top: 1px;
    width: 3px;
  }
  
  .desk-time .ellipse-8 {
    background-color: #d9d9d9;
    border-radius: 1.9px/1.7px;
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
  
  .desk-time .group-32 {
    height: 31px;
    left: 29px;
    position: absolute;
    top: 603px;
    width: 310px;
  }
  
  .desk-time .overlap-group-4 {
    background-color: #3b3b3b;
    border-radius: 6px;
    height: 31px;
    position: relative;
    width: 100%;
    left: 0;
  }
  
  .desk-time .text-wrapper-20 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    width: 16px;
  }
  
  .desk-time .text-wrapper-21 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 180px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    width: 16px;
  }
  
  .desk-time .overlap-group-5 {
    background-color: #7b7b7b;
    border-radius: 11.17px/10px;
    height: 20px;
    left: 59px;
    position: absolute;
    top: 6px;
    width: 22px;
  }
  
  .desk-time .text-wrapper-22 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1px;
    width: 16px;
  }
  
  .desk-time .text-wrapper-23 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 82.5%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25%;
    width: 16px;
  }
  
  .desk-time .text-wrapper-24 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 102px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    width: 16px;
  }
  
  .desk-time .text-wrapper-25 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 140px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    width: 16px;
  }
  
  .desk-time .text-wrapper-26 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 221px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    width: 16px;
  }
  
  .desk-time .frame-2 {
    height: 30px;
    left: 23px;
    position: absolute;
    top: 28px;
    width: 31px;
  }
  
  .desk-time .time-interval-bar {
    height: 50px;
    left: 0;
    position: relative;
    top: 72px;
    width: 85%;
    margin: 0 auto;
  }
  
  .desk-time .group-33 {
    height: 31px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .desk-time .text-wrapper-27 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 12.5%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25%;
    width: 16px;
  }
  
  .desk-time .text-wrapper-28 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 60.5%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25%;
    width: 16px;
  }
  
  .desk-time .text-wrapper-29 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 13px;
    font-weight: 700;
    left: 35.5%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25%;
    width: 16px;
  }
  
  .desk-time .text-wrapper-30 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 34px;
    width: 100%;
    text-align: right;
  }
  
  .desk-time .day-breakdown {
    height: 100%;
    left: 0;
    position: absolute;
    top: 662px;
    width: 100%;
  }
  
  .desk-time .overlap-4 {
    height: 148px;
    position: relative;
  }
  
  .desk-time .calories-ring {
    background-image: url(https://c.animaapp.com/QHWYwOlz/img/ellipse-13.svg);
    background-size: 100% 100%;
    height: 148px;
    left: 0;
    position: absolute;
    top: 0;
    width: 148px;
  }
  
  .desk-time .overlap-5 {
    background-image: url(https://c.animaapp.com/QHWYwOlz/img/ellipse-14.svg);
    background-size: 100% 100%;
    height: 148px;
    position: relative;
  }
  
  .desk-time .ellipse-9 {
    height: 148px;
    left: 0;
    position: absolute;
    top: 0;
    width: 148px;
  }
  
  .desk-time .ellipse-10 {
    background-color: #252525;
    border-radius: 61px;
    height: 122px;
    left: 14px;
    position: absolute;
    top: 13px;
    width: 122px;
  }
  
  .desk-time .group-34 {
    height: 44px;
    left: 49px;
    position: absolute;
    top: 53px;
    width: 55px;
  }
  
  .desk-time .overlap-group-6 {
    height: 44px;
    position: relative;
    width: 51px;
  }
  
  .desk-time .text-wrapper-31 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 51px;
  }
  
  .desk-time .text-wrapper-32 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 27px;
    width: 51px;
  }
  
  .desk-time .average-SD {
    height: 27px;
    left: 33px;
    position: absolute;
    top: 121px;
    width: 83px;
  }
  
  .desk-time .overlap-6 {
    background-color: #ffffff;
    border-radius: 8px;
    height: 27px;
    position: relative;
    width: 81px;
  }
  
  .desk-time .text-wrapper-33 {
    color: #000000;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 4px;
    width: 64px;
  }
  
  .desk-time .edit {
    height: 20px;
    left: 271px;
    position: absolute;
    top: 644px;
    width: 37px;
  }
  
  .desk-time .overlap-7 {
    background-color: #3b3b3b;
    border-radius: 5px;
    height: 20px;
    position: relative;
    width: 35px;
  }
  
  .desk-time .text-wrapper-34 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 11px;
    font-weight: 600;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 23px;
  }
  
  .desk-time .group-35 {
    height: 34px;
    left: 187px;
    position: absolute;
    top: 646px;
    width: 11px;
  }
  
  .desk-time .rectangle-19 {
    background-color: #69cbd9;
    border-radius: 2px;
    height: 22px;
    left: 2px;
    position: absolute;
    top: 12px;
    transform: rotate(8.1deg);
    width: 4px;
  }
  
  .desk-time .polygon {
    height: 9px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 9px;
  }
  
  .desk-time .group-36 {
    height: 13px;
    left: 0;
    position: absolute;
    top: 321px;
    width: 100%;
  }

  .desk-time .standing-legend {
    height: 13px;
    left: 30%;
    position: absolute;
    width: 10%;
  }
  
  .desk-time .ellipse-11 {
    background-color: #1679DB;
    border-radius: 5.23px;
    height: 10px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 10px;
  }

  .desk-time .text-wrapper-36 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 35px;
  }

  .desk-time .sitting-legend {
    height: 13px;
    left: 60%;
    position: absolute;
    width: 10%;
  }
  
  .desk-time .ellipse-12 {
    background-color: #E72830;
    border-radius: 5.23px;
    height: 10px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 10px;
  }
  
  .desk-time .ellipse-13 {
    background-color: #78d069;
    border-radius: 5.23px;
    height: 10px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 10px;
  }
  
  .desk-time .text-wrapper-35 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 45px;
  }
  
  .desk-time .text-wrapper-37 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 8px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 35px;
  }
  
  .desk-time .desk-time-summary {
    height: 26px;
    left: 0;
    position: relative;
    top: 130px;
    width: 60%;
    margin: 0 auto;
  }
  
  .desk-time .average-DT {
    height: 26px;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .desk-time .text-wrapper-38 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 50%;
    text-align: center;
  }
  
  .desk-time .overlap-group-7 {
    height: 26px;
    left: 124px;
    position: absolute;
    top: 0;
    width: 54px;
  }
  
  .desk-time .text-wrapper-39 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 26px;
    text-align: center;
  }
  
  .desk-time .text-wrapper-40 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 35px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
    width: 30px;
    text-align: center;
  }
  
  .desk-time .group-wrapper {
    background-color: #3b3b3b;
    border-radius: 7px;
    height: 161px;
    left: 0;
    position: relative;
    top: 140px;
    width: 90%;
    margin: 0 auto;
  }
  
  .desk-time .group-37 {
    height: 146px;
    left: 0;
    position: relative;
    top: 10px;
    width: 90%;
    margin: 0 auto;
  }
  
  .desk-time .average-SD-2 {
    height: 40px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 50%;
  }
  
  .desk-time .overlap-group-8 {
    height: 40px;
    position: relative;
    width: 100%;
  }
  
  .desk-time .text-wrapper-41 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
  }
  
  .desk-time .text-wrapper-42 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 18px;
    width: 100%;
  }
  
  .desk-time .closest {
    height: 40px;
    left: 50%;
    position: absolute;
    top: 53px;
    width: 50%;
  }
  
  .desk-time .text-wrapper-43 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 18px;
    width: 100%;
  }
  
  .desk-time .closest-2 {
    height: 40px;
    left: 50%;
    position: absolute;
    top: 106px;
    width: 50%;
  }
  
  .desk-time .overlap-8 {
    height: 40px;
    position: relative;
    width: 100%;
  }
  
  .desk-time .text-wrapper-44 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 18px;
    width: 100%;
  }
  
  .desk-time .text-wrapper-45 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
  }
  
  .desk-time .closest-3 {
    height: 40px;
    left: 0;
    position: absolute;
    top: 53px;
    width: 50%;
  }
  
  .desk-time .overlap-9 {
    height: 40px;
    position: relative;
    width: 100%;
    left: 0;
  }
  
  .desk-time .text-wrapper-46 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 18px;
    width: 100%;
  }
  
  .desk-time .text-wrapper-47 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
  }
  
  .desk-time .closest-4 {
    height: 40px;
    left: 0;
    position: absolute;
    top: 106px;
    width: 50%;
  }
  
  .desk-time .overlap-10 {
    height: 40px;
    position: relative;
    width: 100%;
    left: 0;
  }
  
  .desk-time .text-wrapper-48 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 18px;
    width: 100%;
  }
  
  .desk-time .text-wrapper-49 {
    color: #ffffff;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
  }
  
  .desk-time .closest-5 {
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }
  
  .desk-time .text-wrapper-50 {
    color: #d3d3d3;
    font-family: "Open Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 18px;
    width: 100%;
  }
  
  .desk-time .bar-chart-container {
    height: 25%;
    left: 0;
    position: relative;
    top: 70px;
    width: 90%;
    margin: 0 auto
  }