canvas.custom-rounded-bars {
    border-radius: 10px;
  }
  
.custom-rounded-bars-container .chartjs-render-monitor .chart-legend li span {
  background-color: #007bff; 
  border-radius: 50%; 
  display: inline-block;
  width: 10px; 
  height: 10px; 
  margin-right: 5px; 
}