.home .bot-bar-home {
    height: 71px;
    left: 0;
    position: absolute;
    top: 773px;
    width: 390px;
  }
  
  .home .overlap-10 {
    background-image: url(https://c.animaapp.com/VczO8maf/img/rectangle-16-1.svg);
    background-size: 100% 100%;
    height: 71px;
    left: 1px;
    position: relative;
    width: 389px;
  }
  
  .home .group-14 {
    height: 36px;
    left: 329px;
    position: absolute;
    top: 22px;
    width: 47px;
  }
  
  .home .text-wrapper-41 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 45px;
  }
  
  .home .group-15 {
    height: 8px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 32px;
  }
  
  .home .group-16 {
    background-color: #9c9c9c;
    border-radius: 4px;
    height: 8px;
    left: 24px;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .home .ellipse-11 {
    background-color: #000000;
    border-radius: 3.11px;
    height: 6px;
    left: 1px;
    position: relative;
    top: 1px;
    width: 6px;
  }
  
  .home .group-17 {
    background-color: #9c9c9c;
    border-radius: 4px;
    height: 8px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .home .group-18 {
    background-color: #9c9c9c;
    border-radius: 4px;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
  }
  
  .home .text-wrapper-42 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 240px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 36px;
    width: 81px;
  }
  
  .home .asset {
    height: 22px;
    left: 268px;
    object-fit: cover;
    position: absolute;
    top: 14px;
    width: 22px;
  }
  
  .home .group-19 {
    height: 45px;
    left: 172px;
    position: absolute;
    top: 13px;
    width: 62px;
  }
  
  .home .overlap-11 {
    height: 45px;
    position: relative;
    width: 60px;
  }
  
  .home .text-wrapper-43 {
    color: #A9FF9B;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 60px;
  }
  
  .home .group-20 {
    height: 24px;
    left: 14px;
    position: absolute;
    top: 0;
    width: 31px;
  }
  
  .home .overlap-group-5 {
    height: 24px;
    position: relative;
  }
  
  .home .rectangle-20 {
    background-color: #A9FF9B;
    height: 9px;
    left: 6px;
    position: absolute;
    top: 8px;
    transform: rotate(-41.74deg);
    width: 26px;
  }
  
  .home .rectangle-21 {
    background-color: #A9FF9B;
    border-radius: 1px 0px 1px 1px;
    height: 8px;
    left: 1px;
    position: absolute;
    top: 11px;
    transform: rotate(45.21deg);
    width: 16px;
  }
  
  .home .group-21 {
    height: 44px;
    left: 13px;
    position: absolute;
    top: 14px;
    width: 72px;
  }
  
  .home .text-wrapper-44 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 70px;
  }
  
  .home .group-22 {
    height: 20px;
    left: 21px;
    position: absolute;
    top: 0;
    width: 27px;
  }
  
  .home .rectangle-22 {
    border: 0.5px solid;
    border-color: #898989;
    border-radius: 1px;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
  }
  
  .home .group-23 {
    height: 14px;
    left: 5px;
    position: absolute;
    top: 6px;
    width: 18px;
  }
  
  .home .group-24 {
    height: 21px;
    left: 91px;
    position: absolute;
    top: 37px;
    width: 75px;
  }
  
  .home .text-wrapper-45 {
    color: #898989;
    font-family: "Open Sans", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 73px;
  }
  
  .home .asset-x {
    height: 21px;
    left: 117px;
    position: absolute;
    top: 14px;
    width: 22px;
  }